.form-text {
     display: none;
 }
.form-text.error {
     display: block;
     color:red;
 }
 .checkbox-box {
     display: flex;
 }
 .i-checks {
     margin-right: 20px;
 }
 .checkbox-box .i-checks label{
     cursor: pointer;
 }
 .checkbox-box .i-checks label .iradio_square-green {
    margin-right: 7px;
}
.isroot{
    display:none;
}
.ii-checks input {
    margin-right: 10px;
    position: relative;
    width: 23px;
    height: 22px;
}
.ii-checks {
    margin-right: 0px;
    display: flex;
}
.ii-checks label {
    margin-right: 20px;
    line-height: 20px;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 0;
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    height: 100%;
    margin-top: -20px;
}
.middle-box .wrap-box{
    width: 100%;
}
.middle-box .wrap-box h3 {
    font-size: 22px;
}
.right-box{
    border-top: 0;
    margin-top: 30px;
}
.checks {
    display: flex;
    margin-right: 15px;
}
input[type=checkbox], input[type=radio] {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}
.checkbox-box label {
    position: relative;
    margin-right: 20px;
}
i.fa.fa-toggle-on {
    color: #1bb394;
    font-size: 20px;
}
table.table tr i.fa {
    font-size: 18px;
}
table.table tr .action i.fa {
    color:#1bb394;
}
.dataTables_paginate .pagination{
    float:right;
}
.nav-header {
    padding: 20px 25px;
    background-color: #2f4050;
}