{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Admin | {% block title %} {% endblock %}</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/app.min.css' %}">
<!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/datatables/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'admin/assets/css/components.css' %}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/custom.css' %}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'admin/assets/img/favicon.ico' %}" />

  {% block InlineStyle %}{% endblock %}
</head>

<body class="theme-white dark-sidebar">
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
        <!-- Menu top-->
      {% include "partials/navbar.html" %}  
        <!--End menu -->

      <!-- sidebar menu-->
      <!-- {% include "partials/sidebar.html" %}   -->
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/admin/"> <img alt="image" src="{% static 'assets/img/logo.png' %}" class="header-logo" /> <span
                class="logo-name">Admin</span>
            </a>
          </div>
          <ul class="sidebar-menu">
            <li class="dropdown active">
              <a href="/admin/" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Categories</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/category/create/">Add Category</a></li>
                <li><a class="nav-link" href="/sub_category/create/">Add SubCategory</a></li>
                <li><a class="nav-link" href="/categories/">Categories</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="briefcase"></i><span>Pages</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/mas_category/create/">New Pages</a></li>
                <li><a class="nav-link" href="/categories/">Pages</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>Posts</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/mas_category/create/">New Posts</a></li>
                <li><a class="nav-link" href="/categories/">Posts</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>Customers</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/admin/customer/create/">New Custome</a></li>
                <li><a class="nav-link" href="/admin/customers/">Customers</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>Users</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/admin/user/create/">New User</a></li>
                <li><a class="nav-link" href="/admin/users/">Users</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Apps</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="chat.html">Chat</a></li>
                <li><a class="nav-link" href="portfolio.html">Portfolio</a></li>
                <li><a class="nav-link" href="blog.html">Blog</a></li>
                <li><a class="nav-link" href="calendar.html">Calendar</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>

      <!--End sidebar menu -->

      <!-- Main Content -->
      <div class="main-content">
        <section class="body-section">
            {% block content %}{% endblock %}
        </section>
        <!-- sidebar_setting -->
        {% include "partials/sidebar_setting.html" %} 
        <!--end sidebar_setting -->

      </div>
      <footer class="main-footer">
        <div class="footer-left">
          <a href="#">@ FIMIJ Team </a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'admin/assets/js/app.min.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/datatables.min.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/export-tables/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/export-tables/buttons.flash.min.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/export-tables/jszip.min.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/export-tables/pdfmake.min.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/export-tables/vfs_fonts.js' %}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/export-tables/buttons.print.min.js' %}"></script>
  <script src="{% static 'admin/assets/js/page/datatables.js' %}"></script>

  <!-- JS Libraies -->
  <script src="{% static 'admin/assets/bundles/apexcharts/apexcharts.min.js' %}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'admin/assets/js/page/index.js' %}"></script>
  <!-- Template JS File -->
  <script src="{% static 'admin/assets/js/scripts.js' %}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'admin/assets/js/custom.js' %}"></script>
</body>
</html>
