{% extends "master.html" %}
{% block title %} Menu {% endblock %}
{% load static %}
{% block InlineStyle %}
<style>
.table-responsive table tr td.text-center a i.fa.fa-toggle-off,
.table-responsive table tr td.text-center a i.fa.fa-toggle-on {
  font-size: 18px;
}
.table-responsive table tr td.text-center a i.fa.fa-toggle-on {
  color: #1bb394;
}
.card-header {
  justify-content: space-between;
}
.table-responsive table tr td.text-center a i.fa {
    font-size: 15px;
}
</style>
{% endblock %}
    

{% block content %}
    
    <div class="section-body">
        <div class="row">
            <div class="header_breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/categories/">Product Categories</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
                <div class="header_button">
                    <div class="text-right">
                        <a href="/category/create/" class="btn btn-primary mr-1">Create Category</a>
                        <a href="/sub_category/create/" class="btn btn-primary mr-1">Create SubCategory</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Export Category</h4>
                <div class="dropdown d-inline mr-2">
                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton3"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product Categories
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/categories/">Product Categories</a>
                    <a class="dropdown-item" href="/sub_categories/">Sub Categories</a>
                  </div>
                </div>

              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                    <thead>
                      <tr>
                        <th>Sl No</th>
                        <th>Category</th>
                        <th>SubCategory</th>
                        <th>Ordering</th>
                        <th>Photo</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr class="gradeX">
                            <td>{{forloop.counter}}</td>
                            <td>{{category.category_name}}</td>
                            <td>{{category.category_name}}</td>
                            <td>{{category.category_ordering}}</td>
                            <td><img class="table-img" src="/static/shopfront/media/{{ category.category_image }}" alt="{{ category.category_name }}" style="width:40px;"></td>                            
                            <td class="text-center">
                                {% if category.status == 1 %}<a href="/category/taggle/{{category.id}}"><i class="fa fa-toggle-on" aria-hidden="true"></i></a> {% endif %}
                                {% if category.status == 0 %}<a href="/category/taggle/{{category.id}}"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>{% endif %}
                            </td>
                            <td class="text-center action">
                                <a href="/category/edit/{{category.id}}"><i class="fa fa-edit"></i></a>                                
                                <a href="/category/trash/{{category.id}}" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Large modal -->
      <!-- <a data-toggle="modal" data-target=".bd-example"><i class="fa fa-eye"></i></a>
      <div class="modal fade bd-example" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myLargeModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Content goes here....
            </div>
          </div>
        </div>
      </div> -->
{% endblock %}



{% block script %}
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

        function menu_class(){
            $('.sidebar-collapse ul li').removeClass('active')
            $('.sidebar-collapse ul li.categories').addClass('active')
        }
        menu_class();
    });

</script>
{% endblock %}