{% extends "master.html" %}
{% block title %} Category {% endblock %}
{% block content %}

<section class="category-new-page">
    <div class="row">
        <div class="header_breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
              <li class="breadcrumb-item"><a href="/categories/">Product Categories</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
            <div class="header_button">
                <div class="text-right">
                    <a href="/categories/" class="btn btn-primary mr-1">Categories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="card-header">
                        <h4>Create New Category</h4>
                    </div>
                    <div class="card-body">                        
                        <div class="form-group">
                            <label>Category name</label>
                            <input type="text" name="category_name" class="form-control"  placeholder="Category name">
                        </div>                    
                        <div class="form-group">
                            <label>Category Image</label>
                            <input type="file" name="category_image" class="form-control">
                        </div>                    
                        <div class="form-group">
                            <label>Category Details</label>
                            <textarea rows="3" name="category_details" class="form-control"  placeholder="Category Details"></textarea>
                        </div>                   
                        <div class="form-group">
                            <label>Active</label>
                            <div class="check_box">
                                <input type="checkbox" name="status" class="form-control">
                            </div>                            
                        </div>                   
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary mr-1" type="submit">Save</button>
                        <button class="btn btn-secondary" disabled type="reset">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function menu_class(){
        $('.sidebar-collapse ul li').removeClass('active')
        $('.sidebar-collapse ul li.categories').addClass('active')
    }
    menu_class();
</script>
{% endblock %}