{% extends "master.html" %}
{% block title %} Create SubCategory {% endblock %}
{% block content %}
<section class="category-new-page">
    <div class="row">
        <div class="header_breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                <li class="breadcrumb-item"><a href="/sub_categories/">Sub Categories</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
            <div class="header_button">
                <div class="text-right">
                    <a href="/category/create/" class="btn btn-success mr-1">Create Category</a>
                    <a href="/categories/" class="btn btn-success mr-1">Categories</a>
                    <a href="/sub_categories/" class="btn btn-primary mr-1">Sub Categories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="card-header">
                            <h4>Create Sub Category</h4>
                        </div>
                        <div class="card-body">                        
                            <div class="form-group">
                                <label>SubCategory name</label>
                                <input type="text" name="sub_category_name" class="form-control"  value="{{data_id.sub_category_name}}">
                            </div>         
                            <div class="form-group">
                                <label>Select Category</label>
                                <select name="category_name_id" class="form-control">
                                    <option value="">Select Category</option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.id == data_id.category_name_id %} selected {% endif %} >{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>                  
                            <div class="form-group">
                                <label> </label>
                                <img src="/static/shopfront/media/{{ data_id.sub_image }}" alt="{{data_id.sub_category_name}}" style="width:50px;">
                            </div>  
                            <div class="form-group">
                                <label>SubCategory Image</label>
                                <input type="file" name="sub_image" class="form-control">
                            </div>                    
                            <div class="form-group">
                                <label>Category Ordering</label>
                                <input type="number" name="sub_ordering" class="form-control" value="{{data_id.sub_ordering}}" >
                            </div>                   
                            <div class="form-group">
                                <label>Status</label>
                                <div class="check_box">
                                    <input type="checkbox" name="check_status" class="form-control" {% if data_id.status == True %} checked {% endif %}>
                                </div>                                
                            </div>                   
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary mr-1" type="submit">Update</button>
                            <button class="btn btn-secondary" disabled type="reset">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function menu_class(){
        $('.sidebar-collapse ul li').removeClass('active')
        $('.sidebar-collapse ul li.categories').addClass('active')
    }
    menu_class();
</script>
{% endblock %}