{% extends "master.html" %}
{% block title %} Sub Categories {% endblock %}
{% load static %}
{% block InlineStyle %}
<style>
.table-responsive table tr td.text-center a i.fa.fa-toggle-off,
.table-responsive table tr td.text-center a i.fa.fa-toggle-on {
  font-size: 18px;
}
.table-responsive table tr td.text-center a i.fa.fa-toggle-on {
  color: #1bb394;
}
.card-header {
  justify-content: space-between;
}
.table-responsive table tr td.text-center a i.fa {
    font-size: 15px;
}
</style>
{% endblock %}
    

{% block content %}
    
    <div class="section-body">
        <div class="row">
            <div class="header_breadcrumb" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
                  <li class="breadcrumb-item"><a href="/sub_categories/">Sub Categories</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
                <div class="header_button">
                    <div class="text-right">
                      <a href="/category/create/" class="btn btn-primary mr-1">Create Category</a>
                      <a href="/sub_category/create/" class="btn btn-primary mr-1">Create SubCategory</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h4>Export Sub Categories</h4>
                <div class="dropdown d-inline mr-2">
                  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton3"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sub Categories
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/categories/">Product Categories</a>
                    <a class="dropdown-item" href="/sub_categories/">Sub Categories</a>
                  </div>
                </div>

              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                    <thead>
                      <tr>
                        <th>Sl No</th>
                        <th>Category ID</th>
                        <th>SubCategory</th>
                        <th>Photo</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Ordering</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for subcategory in subcategories %}
                        <tr class="gradeX">
                            <td>{{forloop.counter}}</td>
                            <td>{{subcategory.category_name_id}}</td>
                            <td>{{subcategory.sub_category_name}}</td>
                            <td><img src="/static/shopfront/media/{{subcategory.sub_image}}" alt="{{subcategory.sub_category_name}}" style="width: 40px;"></td>
                            
                            <td class="text-center">
                                {% if subcategory.status == 1 %}<a href="/sub_category/taggle/{{subcategory.id}}"><i class="fa fa-toggle-on" aria-hidden="true"></i></a> {% endif %}
                                {% if subcategory.status == 0 %}<a href="/sub_category/taggle/{{subcategory.id}}"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>{% endif %}
                            </td>
                            <td class="text-center">{{subcategory.sub_ordering}}</td>
                            <td class="text-center action">
                                <a href="/sub_category/edit/{{subcategory.id}}"><i class="fa fa-edit"></i></a>                                
                                <a href="/sub_category/trash/{{subcategory.id}}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}



{% block script %}
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

        function menu_class(){
            $('.sidebar-collapse ul li').removeClass('active')
            $('.sidebar-collapse ul li.categories').addClass('active')
        }
        menu_class();
    });

</script>
{% endblock %}