{% extends "master.html" %}
{% block title %} Category {% endblock %}
{% block content %}

<div class="row">
     <div class="col-lg-12">
         <div class="bradcamp">
            <h5><a href="#">Dashboards</a> > Form</h5>
         </div>
         <div class="ibox ">
             <div class="ibox-title">
                 <h5>Title</h5>
                 <div class="ibox-tools">
                     <a class="collapse-link">
                         <i class="fa fa-chevron-up"></i>
                     </a>
                 </div>
             </div>
             <div class="ibox-content">
                 <form method="POST">
                     <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Normal</label>
                         <div class="col-sm-10">
                            <input type="text" placeholder="placeholder" class="form-control">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Help text</label>
                         <div class="col-sm-10">
                            <input type="text" placeholder="placeholder" class="form-control">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Placeholder</label>
                         <div class="col-sm-10">
                            <input type="text" placeholder="placeholder" class="form-control">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Placeholder</label>
                         <div class="col-sm-10">
                            <input type="text" placeholder="placeholder" class="form-control">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Select</label>
                         <div class="col-sm-10">
                            <select class="form-control m-b" name="account">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Details</label>
                         <div class="col-sm-10">
                            <textarea type="text" placeholder="placeholder" class="form-control"></textarea>
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     <div class="hr-line-dashed"></div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <div class="col-sm-12">
                                <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
                                <button class="btn btn-white btn-sm" type="submit">Cancel</button>
                            </div>
                        </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
</div>

{% endblock %}