html, body{
     padding:0;
     margin:0;
}
.carousel {
     position: relative;
 }
 .navbar.no-home{
     position: absolute;
     z-index: 1;
     width: calc(100% - 30px);
     background: white;
 }
 .header-top a{
     font-size:12px;
 }
 .product-item {
    max-height: 380px;
}
table tbody .align-middle .input-group-btn button {
    background-color: white;
    border: 0px solid #ddd;
    opacity: .9;
    font-size: 12px;
    line-height: 21px;
}
.align-middle .input-group{
    width: 90px;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 0 5px;
}
.align-middle .input-group input{
    border: 0;
}
.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 2px;
    font-size: 14px;
    font-weight: 500;
}
.card-body h6 {
    font-size: 14px;
}
.font-weight-semi-bold {
    font-weight: 500;
    font-size: 18px;
}
.font-weight-bold {
    font-size: 16px;
}