{% extends "master.html" %}
{% block title %} Menus Create {% endblock %}
{% block content %}

<div class="row">
    {% load static %}
     <div class="col-lg-12">
         <div class="bradcamp">
            <h5><a href="#">Dashboards</a> > Menus</h5>
         </div>
         <div class="ibox ">
             <div class="ibox-title">
                 <h5>Menus</h5>
                 <div class="ibox-tools">
                     <a class="collapse-link">
                         <i class="fa fa-chevron-up"></i>
                     </a>
                 </div>
             </div>
             <div class="ibox-content">
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Menu Name</label>
                         <div class="col-sm-8">
                            <input type="text" id="menu_name" placeholder="Name" class="form-control" name="menu_name" required>
                            <span class="form-text m-b-none">This field is required</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thumbnail</label>
                         <div class="col-sm-8">
                            <input type="file" name="menu_photo" class="form-control" style="font-size:12px;">
                            <span class="form-text m-b-none">This field is required</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2">Is Root</label>
                        <div class="col-sm-8 checkbox-box">
                            <div class="checks">
                                <input type="checkbox" id="is_root" name="is_root">
                            </div>
                        </div>
                     </div>
                     <div class="form-group row isroot" id="is_root_id" style="display:flex;">
                        <label class="col-sm-2 col-form-label">Root Position</label>
                         <div class="col-sm-8">
                            <select class="form-control m-b" name="is_root_id">
                                <option value="0" selected>Select Position</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                         </div>
                     </div>
                     <div class="form-group row isroot" id="parent_id" style="display:none;">
                        <label class="col-sm-2 col-form-label">Parent Id</label>
                         <div class="col-sm-8">
                            <select class="form-control m-b" name="parent_id">
                                <option value="0" selected>Select Parent</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="4">5</option>
                            </select>
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2">Is Active</label>
                        <div class="col-sm-8 checkbox-box">
                            <div class="checks">
                                <input type="radio" name="is_active" value="1" checked>
                                <label for="is_active">Yes</label>
                            </div>
                            <div class="checks">
                                <input type="radio" name="is_active" value="0"> 
                                <label for="is_active">No</label>
                            </div>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="menu_order" class="col-sm-2 col-form-label">Menu Order</label>
                         <div class="col-sm-8">
                            <input type="number" name="menu_order" id="menu_order" placeholder="Order" class="form-control">
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
                            </div>
                        </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
</div>

{% endblock %}



{% block script %}
<script>
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    function menu_class(){
        $('.sidebar-collapse ul li').removeClass('active')
        $('.sidebar-collapse ul li.menus').addClass('active')
    }
    menu_class();
</script>
{% endblock %}