{% extends "master.html" %}
{% block title %} Menus Create {% endblock %}
{% block content %}

<div class="row">
    {% load static %}
     <div class="col-lg-12">
         <div class="bradcamp">
            <h5><a href="#">Dashboards</a> > Menus</h5>
         </div>
         <div class="ibox ">
             <div class="ibox-title">
                 <h5>Menus</h5>
                 <div class="ibox-tools">
                     <a class="collapse-link">
                         <i class="fa fa-chevron-up"></i>
                     </a>
                 </div>
             </div>
             <div class="ibox-content">
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Menu Name</label>
                         <div class="col-sm-8">
                            <input type="text" id="menu_name" class="form-control" name="menu_name" value="{{ data.menu_name }}" required>
                            <span class="form-text m-b-none">This field is required</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2">Is Root</label>
                        <div class="col-sm-8 checkbox-box">
                            <div class="checks">
                                <input type="checkbox" id="is_root" name="is_root" {% if data.is_root == '1' %} checked {% endif %}>
                            </div>
                        </div>
                     </div>
                     <div class="form-group row isroot" id="is_root_id" style="display:flex;">
                        <label class="col-sm-2 col-form-label">Root Position</label>
                         <div class="col-sm-8">
                            <select class="form-control m-b" name="is_root_id">
                                <option value="0">Parent Id</option>
                                <option value="1" {% if data.parent_id == '1' %} selected {% endif %}>1</option>
                                <option value="2" {% if data.parent_id == '2' %} selected {% endif %}>2</option>
                                <option value="3" {% if data.parent_id == '3' %} selected {% endif %}>3</option>
                                <option value="4" {% if data.parent_id == '4' %} selected {% endif %}>4</option>
                            </select>
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2">Is Active</label>
                        <div class="col-sm-8 checkbox-box">
                            <div class="checks">
                                <input type="radio" name="is_active" value="1" {% if data.status == True %} checked {% endif %}>
                                <label for="is_active">Yes</label>
                            </div>
                            <div class="checks">
                                <input type="radio" name="is_active" value="0" {% if data.status == False %} checked {% endif %}>
                                <label for="is_active">No</label>
                            </div>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label for="menu_order" class="col-sm-2 col-form-label">Menu Order</label>
                         <div class="col-sm-8">
                            <input type="number" name="menu_order" id="menu_order" class="form-control" value="{{data.menu_order}}" readonly>
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Thumbnail</label>
                         <div class="col-sm-8">
                            <img src="/static/shopfront/media/{{data.menu_photo}}" style="width: 80px;">
                            <input type="file" name="menu_photo" class="form-control" style="font-size:12px;">
                            <span class="form-text m-b-none">This field is required</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                            <div class="col-sm-12">
                                <button class="btn btn-primary btn-sm" type="submit">Update</button>
                            </div>
                        </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
</div>

{% endblock %}



{% block script %}
<script>
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });
    function menu_class(){
        $('.sidebar-collapse ul li').removeClass('active')
        $('.sidebar-collapse ul li.menus').addClass('active')
    }
    menu_class();
</script>
{% endblock %}