{% extends "master.html" %}
{% block title %} Menu {% endblock %}
{% load static %}
{% block InlineStyle %}
<link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
<style>
    i.fa.fa-toggle-on {
    color: #1bb394;
    font-size: 20px;
}
</style>
{% endblock %}
    

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
   
    <div class="col-lg-10">
        <h2>Menu Tables</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Menus</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <div class="ibox-title right-box">
            
            <a class="btn-primary pull-right btn-sm" href="/menu/create">Add Menu </a>

        </div>

    </div>
</div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Menus Tables</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li><a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Name</th>
                        <th>Photo</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for menu in menu_list %}
                            <tr class="gradeX">
                                <td>{{forloop.counter}}</td>
                                <td>{{menu.menu_name}}</td>
                                <td>
                                    <img src="/static/shopfront/media/{{menu.menu_photo}}" alt="{{menu.menu_name}}" style="width: 40px;">
                                </td>
                                <td class="text-center">
                                    {% if menu.status == 1 %}<a href="/menu/taggle/{{menu.id}}"><i class="fa fa-toggle-on" aria-hidden="true"></i></a> {% endif %}
                                    {% if menu.status == 0 %}<a href="/menu/taggle/{{menu.id}}"><i class="fa fa-toggle-off" aria-hidden="true"></i></a>{% endif %}
                                </td>
                                <td class="text-center action">
                                    <a href="/menu/edit/{{menu.id}}"><i class="fa fa-edit"></i></a>
                                    <a href="/menu/trash/{{menu.id}}"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </div>
    
{% endblock %}



{% block script %}
<script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

        function menu_class(){
            $('.sidebar-collapse ul li').removeClass('active')
            $('.sidebar-collapse ul li.menus').addClass('active')
        }
        menu_class();
    });

</script>
{% endblock %}
