html, body{
     padding: 0;
     margin: 0;
     scroll-behavior: smooth;
}
.category-new-page .card-body .form-group {
     display: flex;
 }
 .category-new-page .card-body .form-group>label {
     width: 160px;
     line-height: 38px;
     font-size: 14px;
 }
 .input-group-text, select.form-control:not([size]):not([multiple]), .form-control:not(.form-control-sm):not(.form-control-lg) {
     padding: 6px 15px;
 }
 .main-footer {
     padding: 8px 30px 8px 280px;
     display: flex;
 }
 .main-footer .footer-left {
     line-height: 11px;
 }
 .check_box input {
     height: 20px;
     width: 20px;
 }
 .ibox-title {
     display: flex;
     justify-content: space-between;
     line-height: 30px;
 }
 .header_breadcrumb{
     display: flex;
     justify-content: space-between;
     width: 100%;
     padding: 0 15px;
 }
 .category_button{
    display:flex;
}
table.dataTable img.table-img {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px solid #ffffff;
    border-radius: 5px;
}