{% extends "master.html" %}
{% block title %} Category {% endblock %}
{% block content %}
<div class="section-body">
    <div class="row">
        <div class="header_breadcrumb" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin/">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/users">Users</a></li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
            <div class="header_button">
                <div class="text-right">
                    <a href="/user/create/" class="btn btn-primary mr-1">Create User</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
     <div class="col-lg-12">
         <div class="ibox ">
             <div class="ibox-title">
                 <h5>Title</h5>
             </div>
             <div class="ibox-content">
                 <form method="POST">
                     <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">First Name</label>
                         <div class="col-sm-10">
                            <input type="text" name="first_name" class="form-control" value="{{ users.first_name }}">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Last Name</label>
                         <div class="col-sm-10">
                            <input type="text" name="last_name" class="form-control" value="{{ users.last_name }}">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">User Mobile</label>
                         <div class="col-sm-10">
                            <input type="text" name="mobile" class="form-control" value="{{ users.mobile }}">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                         <div class="col-sm-10">
                            <input type="text" name="email" value="{{ users.email }}" class="form-control">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Designation	</label>
                         <div class="col-sm-10">
                            <input type="text" name="designation" value="{{ users.designation }}" class="form-control">
                            <span class="form-text m-b-none">A block of help text that breaks</span>
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                         <div class="col-sm-10">
                            <img src="shopfront/media/images/{{users.photo}}" alt="{{users.full_name}}">
                        </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Photo</label>
                         <div class="col-sm-10">
                            <input type="file" name="user_photo" class="form-control">
                        </div>
                     </div>
                     
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">User Type</label>
                         <div class="col-sm-10">
                            <select class="form-control m-b" name="account">
                                <option value="0">User Type</option>
                                <option value="{{users.user_type}}">{{users.user_type}}</option>
                            </select>
                         </div>
                     </div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Status</label>
                         <div class="col-sm-10" style="text-align:left">
                            <input type="checkbox" name="status" class="form-control" {% if users.status == True %} checked {% endif %} style="height: 28px;width: 30px;">
                        </div>
                     </div>
                     <div class="hr-line-dashed"></div>
                     <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <button class="btn btn-primary btn-sm" type="submit">Save changes</button>
                            <a href="/admin/users/" class="btn btn-white btn-sm">Cancel</button>
                        </div>
                     </div>
                 </form>
             </div>
         </div>
     </div>
</div>

{% endblock %}