<!DOCTYPE html>
<html>

<head>
     {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
     <style>a{color: #1bb394; }</style>
</head>

<body class="gray-bg">
     <!-- Register User -->
    <div class="middle-box text-center loginscreen animated fadeInDown">
     <div class="wrap-box rgistration-user">
            {% if success %}
            <h4 style="color: #1ab394;">{{ success }}</h4>
            {% endif %}
            <h3>Register</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="first_name" placeholder="First Name" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="last_name" placeholder="Last Name" required="">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="user_name" placeholder="User Name" required="">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="user_password" placeholder="Password" required="">
                </div>
                <div class="form-group">
                        <div class="checkbox i-checks"><label> <input type="checkbox" name="terms_policy" value="1"><i></i> Agree the terms and policy </label></div>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small> &#32;&#32; <a class="" href="/login/">Login</a></p>
                
            </form>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'js/plugins/iCheck/icheck.min.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>

</html>
