<!DOCTYPE html>
<html>

<head>
     {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <style>a{color: #1bb394; }</style>
</head>

<body class="gray-bg">
     <!-- Login User -->
    <div class="middle-box text-center loginscreen animated fadeInDown">
     <div class="wrap-box">            
            <h3>Login</h3>
            <p>Login in to see it in action.</p>
            <form class="m-t" role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="user_name" placeholder="username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="user_password" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="/forgot_password/"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small>  &#32; &#32; <a class="" href="/register/">Create an account</a></p>
               
            </form>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>
