<!DOCTYPE html>
<html>

<head>
     {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <style>a{color: #1bb394; } form{width: 100%;}.message1{
        color: #1bb394;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
    }</style>
</head>

<body class="gray-bg">

    <!-- Forgot Password -->
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <form class="m-t" role="form" method="post">
            <div class="wrap-box">
                <p>{{success}}</p>
                <h3>New Password</h3>
                {% csrf_token %} 
                <p>New Password in to see it in action.</p>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="New Password" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Password Confirm" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Changed Password</button>
                <p class="text-muted text-center"><small>Do not have an account?</small>  &#32; &#32; <a class="" href="/register/">Create an account</a></p>
            </div>
        </form>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>
