{% extends "master.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="loader"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
     $(document).ready(function() {
          // $("#sidebar-wrapper ul li").removeClass('active');
      });
</script>
{% endblock %}